################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BornToRollWebApi/BornToRollWebApi/appsettings.json
